
@import "_import";

body {
  font-family: $primaryFontFamily;
  color: $primaryColor;
}

.shirt {
  //width: 32%;
  display: inline-block;
  color:  $primaryColor; 
}
  
.tshirtContainer {
	border:2px solid $primaryColor;
}

.icons {
	width: 100%;
  padding:0px;
	display:inline-block;
	margin:0px auto;
	border-top:2px solid $primaryColor;
	border-bottom:2px solid $primaryColor;
	.icon {
		font-size:16px;
		width:19%;
		display:inline-block;
		border-left:2px solid $primaryColor;
		text-align: center;
		
	}
}


.name {
	padding-left:4px;
	p {
		margin-top:5px;
	}
}
.price {
	text-align: right;
	padding-right:4px;
	p {
		margin-top:5px;
	}
}

img {
	height: 50%;
	width: 50%;
	margin:auto;
	display:block;
}
.box:hover {
	background-color: #83BAE2;
	color: white;	
}
.green {
  height:20px;
  width:20px;
  background-color:#8BB992
}
.blue {
  background-color:$primaryColor;
  height:20px;
  width:20px;
}

.pink {
  height:20px;
  width:20px;
  background-color:#D482AA
}

.orange {
  height:20px;
  width:20px;
  background-color:#DBB07C
}




.size-box-dropdown {
    position: relative;
    display: inline-block;
}

.size-box-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border:2px solid $primaryColor;
	  color: $primaryColor;
    min-width: 10px;
  	text-align:center;
    z-index: 1;
    cursor: pointer;
    align:center;
}

.size-box-dropdown:hover .size-box-dropdown-content {
    display: block;
    cursor: pointer;
    bottom: 100%;
    text-align:center;
    width: 64px;
}

.fa {padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 0px;
}


.boxshadow {
  height:90px;
  width:90px;
  margin:10px;
  display:inline-block;
  

}

.color-box-dropdown {
    position: relative;
    display: inline-block;
}

.color-box-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border:2px solid $primaryColor;
	color: #83BAE2;
    min-width: 10px;
  	text-align:center;
    z-index: 1;
    cursor: pointer;
    align:center;
}

.color-box-dropdown:hover .color-box-dropdown-content {
    display: block;
    cursor: pointer;
    bottom: 100%;
    text-align:center;
    width: 64px;
}

.boxshadow {
  height:5px;
  width:5px;
  margin:10px;
  padding-left:0px;
  padding-right:5px;
  display:inline-block;

}



