
body {
  font-family: 'open sans', sans serif;
}

p{
	width: 48%;
	display: inline-block;
	}

.title {
	text-align: left;
	padding-left: 3px;
	color: #83BAE2;
	display: inline-block;
	margin-top: 5px;
}

.price {
	text-align: right;
	color: #83BAE2;
	display: inline-block;
	margin-top: 5px;
}
.bottomcontainer {
	width: 329px;
	display: inline-block;
	size: 100%;
}

.maincontainer {
	width:100%;
}

.shirt {
	width:32%;
	display: inline-block;
	border:2px solid #83BAE2;
	color: #83BAE2;
}

.blue {
	color: #83BAE2;
	width:325px;
}

.pink {
	width:325px;
}

.orange {
	width:325px;
}

img {
	height: 200px;
	width: 200px;
	margin: auto;
	display: block;
}


.midcontainer {
	width: 329px;
	display: inline-block;
}

.box {
	color:#83BAE2;
	display: inline-block;
	border-left:2px solid #83BAE2;
	border-bottom:2px solid #83BAE2;
	box-sizing: border-box;
	font-size: 20px;
}

.arrow {
	width:66px;
	height:40px;
	margin-right:-4px;
	text-align: center;
}

.arrow:hover {
	background-color: #83BAE2;
	color: white;	
}

.heart {
	width:66px;
	height:40px;
	margin-right:-4px;
	text-align: center;
}
.heart:hover {
	background-color: #83BAE2;
	color: white;	
}
.size {
	width:66px;
	height:40px;
	margin-right:-4px;
	text-align: center;
}
.size:hover {
	background-color: #83BAE2;
	color: white;	
}
.size.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {

}
.color {
	width:66px;
	height:40px;
	margin-right:-4px;
	text-align: center;
}
.color:hover {
	background-color: #83BAE2;
	color: white;	
}
.cart {
	width:68px;	
	height:40px;
	margin-left: -4px;
	border-right: 2px solid #83BAE2;
	text-align: center;
}
.cart:hover {
	background-color: #83BAE2;
	color: white;	
}


.size-box-dropdown {
    position: relative;
    display: inline-block;
}

.size-box-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border:2px solid #83BAE2;
	color: #83BAE2;
    min-width: 10px;
  	text-align:center;
    z-index: 1;
    cursor: pointer;
    align:center;
}

.size-box-dropdown:hover .size-box-dropdown-content {
    display: block;
    cursor: pointer;
    bottom: 100%;
    text-align:center;
    width: 64px;
}

.fa {padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 0px;}






